root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,kt,kts,gradle}]
indent_size = 4

[*.java]
ij_java_arrangement_group_getters_and_setters = true
ij_java_arrangement_keep_dependent_methods_together = false
ij_java_arrangement_matching_rules = public fields|protected fields|package_private fields|private fields|public constructors|protected constructors|package_private constructors|private constructors|public methods|protected methods|package_private methods|private methods

[*.{yml,yaml,json,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
