# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
**/bin/
**/.DS_Store

# Ignore IntelliJ project files (from MPS debugging)
**/*.iml

# Ignore Eclipse project files
.settings
.java-version
